@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Post>

<head>
@*     <link rel="stylesheet" href="~/css/estilosCss/estiloForo.css" /> *@

</head>

<section class="forum-section">
    <div>
        <h1>Foro General</h1>
        <p>Esta sección esta dedicada para la discución entre alumnos, entre otras cosas</p>
    </div>
    <div class="forum-filters">
        <button>Facultad <span>&#9660;</span></button>
        <button>Carrera <span>&#9660;</span></button>
        <button>Semestre <span>&#9660;</span></button>
        <button>Materia <span>&#9660;</span></button>
        <button>Más Recientes <span>&#9660;</span></button>
        <button>Crear Pregunta</button>
        <button>Crear Pregunta ANÓNIMA</button>
    </div>
    <hr />

    <div class="forum-topics">
        @foreach(var post in Model)
        {
            <article class="forum-topic">
                <div class="user-info">
                    <div class="user-details">
                        <h2>@post.Username</h2>
                        <p>Materia: <a href="#">@post.SubjectName</a></p>
                    </div>
                </div>
                <div class="topic-content">
                    <p>@post.Title</p>
                    <p>@post.Content</p>
                </div>
                <div class="topic-meta">
                    <span>Fecha De Publicación: @post.CreatedAt</span>
                </div>
            </article>
            <hr />
        }
       

        <article class="forum-topic">
            <div class="user-info">
                <img src="user-avatar.png" alt="User Avatar">
                <div class="user-details">
                    <h2>User Name</h2>
                    <p>Materia: <a href="#">Mecánica De Fluidos</a></p>
                </div>
            </div>
            <div class="topic-content">
                <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Necessitatibus, Esse Delectus. Recusandae, Perferendis Laboriosam Officiis Voluptatem Natus Quidem Pariatur Facilis Ipsum Numquam, Nesciunt, Voluptatibus Deleniti. Velit Rerum Numquam Mollitia Ex.</p>
            </div>
            <div class="topic-meta">
                <span>Fecha De Publicación</span>
            </div>
        </article>

        <article class="forum-topic">
            <div class="user-info">
                <img src="user-avatar.png" alt="User Avatar">
                <div class="user-details">
                    <h2>User Name</h2>
                    <p>Materia: <a href="#">Mecánica Vectorial</a></p>
                </div>
            </div>
            <div class="topic-content">
                <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Necessitatibus, Esse Delectus. Recusandae, Perferendis Laboriosam Officiis Voluptatem Natus Quidem Pariatur Facilis Ipsum Numquam, Nesciunt, Voluptatibus Deleniti. Velit Rerum Numquam Mollitia Ex.</p>
            </div>
            <div class="topic-meta">
                <span>Fecha De Publicación</span>
            </div>
        </article>

        <article class="forum-topic">
            <div class="user-info">
                <img src="user-avatar.png" alt="User Avatar">
                <div class="user-details">
                    <h2>User Name</h2>
                    <p>Materia: <a href="#">Matemáticas III (Ecuaciones Diferenciales)</a></p>
                </div>
            </div>
            <div class="topic-content">
                <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Necessitatibus, Esse Delectus. Recusandae, Perferendis Laboriosam Officiis Voluptatem Natus Quidem Pariatur Facilis Ipsum Numquam, Nesciunt, Voluptatibus Deleniti. Velit Rerum Numquam Mollitia Ex.</p>
            </div>
            <div class="topic-meta">
                <span>Fecha De Publicación</span>
            </div>
        </article>
    </div>
</section>